.table {
    width: 900px;
    margin: auto;
}

.entries {
    outline: 1px solid black;
    box-shadow: none;
}
  
.input {
    width: 48%;
}

.form {
    display: flex;
    justify-content: space-between;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}