<form class="table px-10 py-8 bg-amber-50 rounded-2xl shadow-2xl text-left">
    <div class='form'>
        <mat-form-field class="input">
        <mat-label>Search</mat-label>
        <input matInput name="sname" [(ngModel)]="sname" placeholder="Search" (input)="onNameChange($event)">
        </mat-form-field>
        
        <mat-form-field class="input">
            <mat-label>Filter by Workout Type</mat-label>
            <mat-select required name="workout" [(ngModel)]="selectedType" (ngModelChange)="onTypeChange($event)">
                <mat-option *ngFor="let workout of workouts" [value]="workout">{{workout}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div [hidden]="!userWorkoutList.length" >
    <table class="entries" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.uname}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Workouts </th>
            <td mat-cell *matCellDef="let element"> {{element.workoutsString}} </td>
        </ng-container>

        <ng-container matColumnDef="minutes">
            <th mat-header-cell *matHeaderCellDef> Number of Workouts </th>
            <td mat-cell *matCellDef="let element"> {{element.numberWorkouts}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Total Workout Minutes </th>
            <td mat-cell *matCellDef="let element"> {{element.totalMinutes}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
    <mat-paginator [length]="userWorkoutList.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5]"
        (page)="onPageChange($event)" style="margin-top: 1px;" class="entries">
    </mat-paginator>
    </div>
</form>